.App {
  display: flex;
}

.board {
  display: flex;
}

.row {
  flex-flow: row;
}

.emptyCell {
  background-color: deepskyblue;
}

.fishCell {
  background-color: aquamarine;
}

.sharkCell {
  background-color: cadetblue;
}

.emptyCell,
.fishCell,
.sharkCell {
  width: 5px;
  height: 5px;
}

.sideMenu {
  display: flex;
  flex-flow: column;
  width: 200px;
  padding: 20px;
}

.resetButton {
  margin-bottom: 20px;
  padding: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
